.header {
    width: 100%;
    height: 80px;
    background: blue;
}
.header {
    width: 100%;
    height: 80px;
    background: blue;
}
h1 {
    color: blue;
}
h1 {
    color: blue;
}
h1 {
    color: blue;
}
h1 {
    color: blue;
}
h1 {
    color: blue;
}
h1 {
    color: blue;
}






h1 {
    color: blue;
}
h1 {
    color: blue;
}
h1 {
    color: blue;
}
